.product-container {
  display: flex;
  flex-direction: column;
  margin: var(--first-container-margin);
}

.product-container img {
  width: 80%;
  object-fit: cover;
}

.product-details-container {
  margin-left: 0;
  margin-top: 40px;
}

.product-details-container a {
  text-decoration: none;
  color: black;
}

.product-details-container h1 {
  margin: 10px 0 0 0;
  font-size: 1.5rem;
}

.product-details-container h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

.product-details-container h3 {
  margin: 20px 0 0 0;
}

.product-details-container h4 {
  font-weight: 500;
  font-size: 0.8rem;
  margin: 40px 0 0 0;
}

.product-details-container h4 span {
  font-weight: 700;
}

.product-form-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.product-details-container select {
  padding: 20px 20px 20px 10px;
  width: 400px;
  font-size: 1rem;
  color: rgb(148, 148, 148);
  font-weight: 300;
  cursor: pointer;
  border: 1px solid rgb(53, 53, 53);
}

.product-details-container select:hover {
  border: solid 1px var(--primary-color);
}

.product-details-container button {
  padding: 20px 20px 20px 10px;
  width: 400px;
  margin-top: 20px;
  font-size: 1rem;
  background-color: #1b1b1b;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
}

.product-details-container button:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.product-details-container button:disabled {
  background-color: rgb(207, 207, 207);
  opacity: 0.8;
}

.product-details-container button:disabled:hover {
  cursor: default;
}

@media screen and (min-width: 800px) {
  .product-container {
    flex-direction: row;
  }

  .product-details-container {
    margin-left: 60px;
  }

  .product-container img {
    width: 40%;
  }
}
