:root {
  --background-color: rgb(253, 237, 219);
  --primary-color: rgb(236, 137, 56);
  --secondary-color: rgb(247, 190, 144);
  --first-container-margin: 3% 10% 5% 10%;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 30px;
  margin-top: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}

nav {
  display: flex;
  padding: 30px 0 30px 0;
  margin-left: 10%;
}

nav > a {
  display: flex;
  align-items: center;
  width: 15%;
}

#nav-logo {
  width: 120px;
}

nav > ul {
  width: 60%;
  display: flex;
  list-style-type: none;
}

nav > ul > li:nth-child(2) {
  position: relative;
  height: 30px;
}

nav > ul li:nth-child(2):hover .category-list {
  display: block;
}

.category-dropwdown {
  position: absolute;
  display: inline-block;
}

nav .category-list {
  position: absolute;
  top: 30px;
  padding: 5px 0px;
  list-style-type: none;
  padding-inline-start: 0;
  background-color: white;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

nav .category-list li {
  padding: 14px 14px;
  font-size: 0.8rem;
}

nav ul li {
  margin-right: 80px;
  white-space: nowrap;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: var(--secondary-color);
}

@media screen and (max-width: 600px) {
  nav ul li {
    margin-right: 40px;
  }

  nav ul li a {
    font-size: 2.5vw;
  }
}

.popular-brands-container {
  background-color: var(--secondary-color);
}

.popular-brands-container > div {
  padding: 1% 10% 7% 10%;
}

.popular-brands-container h1 {
  font-size: 2.5rem;
  text-decoration: underline var(--primary-color);
  text-underline-position: under;
}

.brand-logo-container {
  margin-top: 60px;
  display: flex;
  column-gap: 30px;
  row-gap: 30px;
  flex-wrap: wrap;
}

.brand-logo-container img {
  object-fit: cover;
}

@media screen and (max-width: 840px) {
  .brand-logo-container img {
    width: 100px;
    height: 100px;
  }
}

.breadcrumb-container {
  margin-bottom: 40px;
  margin-left: 10%;
  margin-top: 3%;
  display: flex;
  align-items: center;
}

.breadcrumb-container span {
  margin-right: 30px;
}

.breadcrumb-container a {
  text-decoration: none;
  color: black;
}

.breadcrumb-container .selected-crumb {
  font-weight: 700;
  text-decoration: underline black;
}

.front-page {
  margin: 5% 10% 25% 10%;
  display: flex;
  position: relative;
}

.front-page h1 {
  font-size: 4.6rem;
  margin: 0;
  line-height: 80px;
  margin-bottom: 20px;
}

.front-page h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 3px;
  margin-bottom: 60px;
}

.front-page img {
  position: absolute;
  object-fit: cover;
  left: -80px;
  top: -100px;
  z-index: -1;
  opacity: 0.2;
  width: 150%;
  height: 600px;
}

.front-page a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  background-color: var(--primary-color);
  padding: 18px 80px;
  transition: all 0.2s ease-in-out;
}

.front-page a:hover {
  background-color: var(--secondary-color);
}

@media screen and (min-width: 900px) {
  .front-page {
    margin: 5% 10% 10% 10%;
    position: initial;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  .front-page div {
    margin-bottom: 60px;
  }

  .front-page h1 {
    font-size: 5.5rem;
  }

  .front-page img {
    position: initial;
    width: 40%;
    height: 40%;
    opacity: 1;
  }
}
